<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static\css\template.css">
    </head>
</html>
<body class = "back">
    <div class="bg"><b>Download YouTube audio</b></div>
    <div class="container">
        <form method="POST"  class="search_bar">
            <input type="text" placeholder="Paste your youtube video link" name = "url">
            <button type="submit"><img src="static/search.png"></button>
        </form>
    </div>
</body>